body {
    height: 100%;
    padding: 25px;
    color: black;
    font-size: 25px;
    background-color: rgb(213, 247, 193);
}

main {
    display: flexbox;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set the height of the container */
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 38px;
    font-style: oblique;
}

.shape {
    width: 400px;
    height: 400px;
    background: linear-gradient(45deg, #031cfffa, #fbff00);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}